*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    height: 100%;
}

.page{
    position: relative;
    display: flex;
    height: 100%;
    margin: 0;
    font-family: Raleway, sans-serif;
    background-color: #fec7ee;
}

.page__video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page__title{
    z-index: 1;
    max-width: 720px;
    margin: 0;
    font-size: 116px;
    letter-spacing: 3.5px;
    text-align: center;
    text-transform: uppercase;
}